{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{post.title}}</h2>
    <span>Posted by {{post.user.username}} on {{post.updatedAt}}</span>
  </div>
  <div class="col-md-6">
    <p>{{post.content}}</p>
  </div>
  {{!-- attach a partial for comments --}}
  {{#each post.comments as |comment|}}
  <div>
    <p>{{comment.comment}}</p>
    <p>{{comment.user.username}}<span>{{comment.updatedAt}}</span></p>
  </div>
  {{/each}}
</div>
{{/each}}

{{#if logged_in}}
<script src="/js/homepage.js"></script>
{{/if}}