{{#each posts as |post| }}
{{!-- //post box must encompass the hidden comments section --}}
<div class="row align-center mb-5 postBox">
  <div>
    <div class="col-md-6">
      <h2>{{post.title}}</h2>
      <span>Posted by {{post.user.username}} on {{format_date post.updatedAt}}</span>
    </div>
    <div class="col-md-6">
      <p>{{post.content}}</p>
    </div>
  </div>

  {{!-- hidden comment section --}}
  <form class="commentbox hidden" >
    <input type="text">
    <button data-postid="{{post.id}}" type="submit">Comment</button>
  </form>


  {{#each post.comments as |comment|}}
  <div>
    <p>{{comment.comment}}</p>
    <p>{{comment.user.username}}<span>{{format_date comment.updatedAt}}</span></p>
  </div>
  {{/each}}
</div>
{{/each}}

{{#if logged_in}}
<script src="/js/homepage.js"></script>
{{/if}}

